In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### LOAD DATASETS

In [3]:
dataset_Data = pd.read_csv("data/Data 2.csv")
print("Data2 Shape:", dataset_Data.shape)
display(dataset_Data.head())

Data2 Shape: (3902, 2)

         Date   Data
0  2025-03-26  2.369
1  2025-03-25  2.365
2  2025-03-24  2.367
3  2025-03-21  2.386
4  2025-03-20  2.387

In [4]:
stock_dataset = pd.read_csv("data/StockPrice.csv")
print("StockPrice Shape:", stock_dataset.shape)
display(stock_dataset.head())

StockPrice Shape: (3839, 2)

         Date    Price
0  2025-03-26  5759.50
1  2025-03-25  5826.50
2  2025-03-24  5815.50
3  2025-03-21  5718.25
4  2025-03-20  5712.75

### DATA CLEANING & TYPE CONVERSION

In [5]:
# Convert Date columns
dataset_Data["Date"] = pd.to_datetime(dataset_Data["Date"])
stock_dataset["Date"] = pd.to_datetime(stock_dataset["Date"])

# Sort by Date (IMPORTANT)
dataset_Data = dataset_Data.sort_values("Date").reset_index(drop=True)
stock_dataset = stock_dataset.sort_values("Date").reset_index(drop=True)

print("Data Date Range:", dataset_Data["Date"].min(), "to", dataset_Data["Date"].max())
print("Stock Date Range:", stock_dataset["Date"].min(), "to", stock_dataset["Date"].max())

print("\nMissing values:")
print(dataset_Data.isna().sum())
print(stock_dataset.isna().sum())
print("\nDuplicate Dates:")
print("Data:", dataset_Data["Date"].duplicated().sum())
print("Stock:", stock_dataset["Date"].duplicated().sum())

Data Date Range: 2010-01-04 00:00:00 to 2025-03-26 00:00:00
Stock Date Range: 2010-01-04 00:00:00 to 2025-03-26 00:00:00

Missing values:
Date    0
Data    0
dtype: int64
Date     0
Price    0
dtype: int64

Duplicate Dates:
Data: 0
Stock: 0

### DESCRIPTIVE STATISTICS

In [6]:
print("DATA STATISTICS")
display(dataset_Data["Data"].describe())

print("STOCK PRICE STATISTICS")
display(stock_dataset["Price"].describe())

print("Skewness:")
print("Data:", dataset_Data["Data"].skew())
print("Price:", stock_dataset["Price"].skew())

DATA STATISTICS

count    3902.000000
mean        0.583423
std         1.317216
min        -0.605000
25%        -0.328000
50%         0.080500
75%         1.014750
max         4.002000
Name: Data, dtype: float64

STOCK PRICE STATISTICS

count    3839.000000
mean     2997.357020
std      1343.596346
min      1072.500000
25%      1939.375000
50%      2754.500000
75%      4217.000000
max      6163.000000
Name: Price, dtype: float64

Skewness:
Data: 1.4330065166221504
Price: 0.4866788820248833